body {
	width: 960px;
	margin: 0px auto;
}

ul {
	list-style-type: none;
}

header {
	font-family: 'Titillium Web', sans-serif;
	background: #e3e3e3;
}

#gallery {
	font-family: 'Titillium Web', sans-serif;
	margin: 0px auto;
	padding: 30px;
	background: #ffe84a;
}

#fun_facts {
	margin: 0px auto;
	padding: 30px;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	background: #19702f;
}

#fun_facts ol {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
}

footer {
	float: right;
	font-family: 'Titillium Web', sans-serif;
	margin 0px;
	background: #fff;
}
	
h1 {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 30px 20px 0;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
		padding: 30px 20px 0;
}

p {
	margin: 10px 10px 20px 30px;
}

/* nav bar */

#navbar ul {
	list-style-type: none;
	float: right;
	padding-right: 75px;
	padding-top: 5px;
	clear: right;
	} 
 
#navbar {
	background-image: url(../images/navbar.png);
	height: 72px;
	background-repeat: repeat-x;
	overflow: visible;
}
#navbar ul li {
	width: 100px;
	height: 65px;
	background-color: #fff;
	display: inline;
	text-align: center;
	vertical-align: middle;
	} 
 
#navbar ul li a {
	text-decoration: none;
	color: #FFF;
	background-color: #000;
	} 
 
#navbar ul li a:hover {
	height: 100%;
	color: #000;
	background-color: #FFF;
	} 
#neymar_logo {
	height: 100%;
	width: 240px;
	float: left;
	background-repeat: no-repeat;
	margin-left: 50px;
	margin-top: 3px;
}

#neymar_info {
	height: 200px;
	width: 380px;
	float: right;
	color: #FFF;
	text-align: left;
	padding-top: 150px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#neymar_banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	height: 600px;
	width: 960px;
	margin-top: -5px;
	z-index: -1000;
}

#button {
	height: 25px;
	width: 350px;
	float: right;
	padding: 5px;
	margin: 0px;
}

/*Gallery*/

#gallery ul {
	border: 2px #000;
	list-style-type: none;
	width: 920px;
	margin: 20px auto;
	overflow: hidden;
	padding: 5px;
}

#gallery li {
	float: left;
	margin-left: 5px;
}

aside form {
	padding-left: 370px;
}

a:link {color:#000;}      
a:visited {color:#000;}  
a:hover {color:#fff;}  
a:active {color:#000;} 


	